DATABASE:
  SNAP_CORE:
    DB_NAME: "your_database_name"
    USERNAME: "your_db_username"
    PASSWORD: "your_db_password"
  BACKEND_PORTAL:
    DB_NAME: "your_database_name"
    USERNAME: "your_db_username"
    PASSWORD: "your_db_password"

REDIS:
  PASSWORD: "your_redis_password"

RABBITMQ:
  USERNAME: "your_rabbitmq_username"
  PASSWORD: "your_rabbitmq_password"

NEW_RELIC_LICENSE_KEY: "your_new_relic_license_key"
INTERNAL_SERVICE_KEY: "your_internal_service_key"

CRM:
  API_KEY: "your_crm_api_key"

CONSUL:
  TOKEN: "your_consul_token"

VAULT:
  TOKEN: "your_vault_token"